body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Login styling */
.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 650px;
  height: auto;
  color: #000;
  text-align: center;
  flex-direction: column;
}
.hero-login-text{
  font-family: 'Slabo 13px', serif;
  margin: 0px;
}
.sub-line{
  margin: 15px;
}
.kep-login-facebook.metro{
  font-family: 'Raleway';
  margin: 25px;
}
/* overriding the default style of google button */
.GoogleLogin{
  width: 243px;
  height: 60px;
  font-family: 'Raleway'!important;
  font-size: 17px!important;
  color: #000!important;
}

